/HMS/NoteAttachments/*
/HMS/obj/Debug/*.cache
/HMS/obj/Release/*.cache
/HMSBL/obj/Debug/*.cache
/HMSBL/obj/Release/*.cache
/HMSDL/obj/Debug/*.cache
/HMSDL/obj/Release/*.cache
/HMSOM/obj/Debug/*.cache
/HMSOM/obj/Release/*.cache
/HMS/obj/Debug/*.compiled
/HMS/obj/Release/*.compiled
/HMS/obj/Debug/*.pdb
/HMS/obj/Release/*.pdb
/HMSBL/bin/Debug/*.pdb
/HMSBL/bin/Release/*.pdb
/HMSBL/obj/Debug/*.pdb
/HMSBL/obj/Release/*.pdb
/HMSDL/bin/Debug/*.pdb
/HMSDL/bin/Release/*.pdb
/HMSDL/obj/Debug/*.pdb
/HMSDL/obj/Release/*.pdb
/HMSOM/bin/Debug/*.pdb
/HMSOM/bin/Release/*.pdb
/HMSOM/obj/Debug/*.pdb
/HMSOM/obj/Release/*.pdb
/HMS/obj/Debug/HMS.csproj.FileListAbsolute.txt
/HMS/obj/Release/_WPPLastBuildInfo.txt
/HMS/obj/Release/HMS.csproj.FileListAbsolute.txt
/HMSBL/obj/Debug/HMSBL.csproj.FileListAbsolute.txt
/HMSBL/obj/Release/HMSBL.csproj.FileListAbsolute.txt
/HMSDL/obj/Debug/HMSDL.csproj.FileListAbsolute.txt
/HMSDL/obj/Release/HMSDL.csproj.FileListAbsolute.txt
/HMSOM/obj/Debug/HMSOM.csproj.FileListAbsolute.txt
/HMSOM/obj/Release/HMSOM.csproj.FileListAbsolute.txt
/HMS/HMS.csproj.user
/HMS/Properties/PublishProfiles/Profile1.pubxml.user
